<!-- vim: set ts=4 sw=4 noet : -->
<!DOCTYPE html>
<html>
	<head>
		<title>GROADING.COM - xXx TITLE xXx</title>
		<meta name="description" content="groading.com official bike club">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/static/style.css" >
		<style> html { 
			background-image: url("/static/img/bg.png"); 
			background-repeat: repeat;
		}
		section {
			background-color: white;
		}
		img {
			max-width:100%;
			max-height:100%;
		}
		.videoWrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
		}
		.videoWrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		</style>
	</head>
	<body>
		<section id="title">
			<h1>GROADING.COM</h1>
		</section>
		<section id="shirts">
			<h2>The 2nd John McCain Memorial Ride</h2>
			<img src="/static/img/groading1.jpg" />
		</section>
		<section id="viper" class='videoWrapper'>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Fjck9aFkCn8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</section>
		<section id="main">
			xXx ABOUT xXx
		</section>
	</body>
	<footer>
		<div>
			<ul>
				<li>&copy; Copyright 2014-2018, <a href="mailto:shithouse@goatse.cx">El Presidente</a></li>
			</ul>
		</div>
	</footer>
</html>
