<!-- vim: set ts=4 sw=4 noet : -->
<!DOCTYPE html>
<html>
	<head>
		<title>GROADING.COM - xXx TITLE xXx</title>
		<meta name="description" content="groading.com official bike club">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="/static/style.css" >
		<style> html { 
			background-image: url("/static/img/sam_groading.jpeg"); 
			background-attachment: fixed;
			background-position: center;
			background-size: cover;
		}
		section {
			background-color: white;
		}
		</style>
	</head>
	<body>
		<section id="title">
			<h1>GROADING.COM</h1>
		</section>
		<section id="viper">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/tsfnuyyjaB0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</section>
		<section id="main">
			xXx ABOUT xXx
		</section>
	</body>
</html>
