xXx PARENT=templates/base.html xXx
xXx ABOUT xXx
    <!--
    <h1>OUR ATHLETES</h1>
    <div class="athlete">
        <h2>Sam</h2>
        <img src="/static/img/sam_groading.jpeg" />
        <p>
            <ul>
                <li>2x NACC Winner</li>
                <li>Owns a skateboard</li>
            </ul>
        </p>
    </div>
    <div class="athlete">
        <h2>Johnny</h2>
        <img src="/static/img/johnny_groading.jpg" />
        <p>
            <ul>
                <li>Owns a dog</li>
                <li>Straight-edge since 2012</li>
            </ul>
        </p>
    </div>
    <div class="athlete">
        <h2>Walker</h2>
        <img src="/static/img/walker_groading.jpg" />
        <p>
            <ul>
                <li>Banned from Niketown bikes</li>
            </ul>
        </p>
    </div>
    -->
xXx TTYL xXx
